body{
    margin: 0%;
    background: url(airport-airplane-on-runway-vector-600nw-2521665201.webp) no-repeat;
    background-size: cover;
    justify-content: center ;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    bottom: 8vh;
}

footer{
    width: 100%;
    background: rgb(19, 18, 75);
    color: aliceblue; /*para garantir que o texto fique visível*/
    position: relative; /*ou remova completamente*/
    padding: 20px 0; /*espaço interno para "respirar"*/
    text-align: center; /*centralizar o texto*/ 
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgb(22, 24, 25)
}

.container{
    display: flex;
    gap: 50px; /*espaçamento entre dois lados*/
    max-width: 1200px;
    margin: 40px auto; /*centraliza*/
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;/*espaço entre o conteúdo e o footer*/

}
.lado-esquerdo,
.meio,
.lado-direito {
    width: 1200%; /*mesma largura para os dois lados*/
    font-size: 18px;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgb(22, 24, 25)
    


}


h2{
    text-align: center;
    margin-top: 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(19, 18, 75)


}
p{
   
    text-align: center;
    line-height: 1.6;
    
}


.titulo{
    display: flex;
    background-color: rgb(54, 199, 243);    
    height: 8vh;
    justify-content: space-around;
    align-items: center;
}
.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

a{
    text-decoration: none;
    color: rgb(0, 24, 88);
    transition: 300ms;
    font-family: monospace;
    font-weight: bold;
}
.Nos{
    word-spacing: normal;
}
a:hover{
    opacity: 0.7;
    color: rgb(196, 248, 255);
}

